<div class="row">
  <div class="col-sm-12 text-centered-box">
    <h4>Try changing select box and submit</h4>
    <div class="panel panel-info">
      <div class="panel-heading">
        <div class="panel-title">Template Driven Form</div>
        <div class="panel-link">
          <a id="reactiveLink" href="/demo/forms/reactive"
            >Switch to Reactive Form</a
          >
        </div>
      </div>
      <div class="panel-body">
        <form (ngSubmit)="onNgSubmit()" #f="ngForm">
          <div class="row">
            <div class="controls col-md-4 "></div>
            <div class="controls col-md-2" style="margin-left: 15px;">
              <input
                type="button"
                class="link"
                id="id_reset_template_form"
                name="Reset"
                value="Reset"
                (click)="reset(f)"
              />
            </div>
            <div class="controls col-md-3">
              <input
                type="button"
                class="link"
                id="id_set_default_template_form"
                value="Set Default"
                (click)="setDefaultValues(f)"
              />
            </div>
            <div class="controls col-md-2">
              <input
                type="button"
                class="link"
                id="id_reset_template_form"
                name="Back"
                value="Back"
                (click)="goBack()"
              />
            </div>
          </div>
          <div class="form-group">
            <div class="controls col-md-offset-4 col-md-8">
              <div id="div_id_chekbx" class="checkbox required">
                <label for="id_chekbx" class="requiredField">
                  <input
                    type="checkbox"
                    class="input-ms checkboxinput"
                    id="id_chekbx"
                    ngModel
                    name="chekbx"
                  />
                  Checkbox
                </label>
              </div>
            </div>
          </div>
          <div id="div_id_textbox" class="form-group required">
            <label
              for="id_textbox"
              class="control-label col-md-4 requiredField"
            >
              Text Box<span class="asteriskField">*</span>
            </label>
            <div class="controls col-md-8">
              <input
                type="text"
                class="input-md textInput form-control"
                id="id_textbox"
                ngModel
                name="textbox"
                #textbox="ngModel"
              />
            </div>
          </div>
          <div id="div_id_selectbox" class="form-group required">
            <label
              for="id_selectbox"
              class="control-label col-md-4 requiredField"
            >
              Select Box<span class="asteriskField">*</span>
            </label>
            <div class="controls col-md-8">
              <select
                class="form-control"
                id="id_selectbox"
                ngModel
                name="selectbox"
                #selectbox="ngModel"
              >
                <option [ngValue]="null" disabled>Choose value</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
              </select>

              <pre *ngIf="selectbox.control.touched">
                {{ getFormData(selectbox.control, ["value", "valid"], 2) }}
              </pre>
            </div>
          </div>
          <div id="div_id_radiobtn" class="form-group required">
            <label
              for="id_radiobtn"
              class="control-label col-md-4 requiredField"
            >
              Radio Button<span class="asteriskField">*</span>
            </label>
            <div class="controls col-md-8" style="margin-bottom: 10px">
              <label class="radio-inline">
                <input
                  type="radio"
                  id="id_radiobtn_1"
                  value="Y"
                  style="margin-bottom: 10px"
                  ngModel
                  name="radiobtn"
                  #radiobtn="ngModel"
                />Yes</label
              >
              <label class="radio-inline">
                <input
                  type="radio"
                  name="radiobtn"
                  id="id_radiobtn_2"
                  value="N"
                  style="margin-bottom: 10px"
                  ngModel
                  name="radiobtn"
                  #radiobtn="ngModel"
                />No
              </label>
            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="aab controls col-md-4 "></div>
              <div class="controls col-md-4" style="margin-left: 15px;">
                <input
                  type="submit"
                  class="btn btn-primary btn btn-info"
                  id="id_submit_template_form"
                  name="Submit"
                  value="Submit"
                />
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="row" *ngIf="activeDemoType != 'services'">
  <div class="col-sm-12 text-centered-box">
    <h4>
      Changes to form tracked
    </h4>
    <pre>
      {{ getFormData(f.value, undefined, 1) }}
    </pre>
  </div>
</div>
